body {
  background-color: green;
}

.nav {
  background-color: black;
  border-radius: 10px;
}

.cardContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
}

.randomCard {
  height: 450px;
  width: 320px;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.topIcon {
  align-self: flex-start;
  font-size: 70px;
  margin-top: -30px;
}

.middleNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
}

.bottomIcon {
  align-self: flex-end;
  font-size: 70px;
  bottom: 5px;
  transform: rotate(180deg);
  margin-bottom: -30px;
}

.title {
  font-size: 50px;
  color: azure;
}

.btn {
  height: 65px;
  width: 320px;
}
